// Created by gillbeits on 11.12.15.
doctype html
html(lang="ru")
    head
        title Angular 2 QuickStart
        // base url
        base(href='/')
        // build:css css/styles.css
        // inject:head:css
        // endinject
        // endbuild
        link(rel='stylesheet', type='text/css', href='/css/app/styles.css')

    body
        app loading...

        // build:js libs/vendor.js
        // inject:body:js
        // endinject
        // endbuild

        script(type='text/javascript').
            System.config({
                transpiler: 'typescript',
                typescriptOptions: {emitDecoratorMetadata: true},
                packages: {
                    js: {
                        format: 'register',
                        defaultExtension: 'js'
                    }
                }
            });
            System.import('js/app/bootstrap').then(null, console.error.bind(console));